{% extends 'base.html' %}
{% block content %}

<div class="flashmsg">
  Results : {{ msg }}
</div>
<div class="managerTitle">
<center><h2>Manager Page</h2></center>
<center><p>Please enter the information of the item you would like to modify below</p></center>
</div>
<br>
<form class="d-flex flex-row justify-content-around" id="registration" method="post">
  <div class="iteminfo">
    <div class="d-flex flex-column align-items-center">
      <label for="itemname">Name:</label>
      <input type="text" name="itemname" id="itemname" placeholder="Enter New Name">
    </div><br>      
    <div class="d-flex flex-column align-items-center">
      <label for="itemstock">Stock:</label>
      <input type="text" name="itemstock" id="itemstock" placeholder="Enter New Quantity">
    </div><br>
    <div class="d-flex flex-column align-items-center">
      <label for="itemprice">Price:</label>
      <input type="number" name="itemprice" id="itemprice" placeholder="Enter New Price">
    </div><br>
  </div>
  <center><p class="actionmsg">Select the action you would like to perform:</p></center><br>
  <div class="changeitem">
    <div class="d-flex flex-column align-items-center">
      <label for="itemadd">Add:</label>
      <input type="text" name="itemadd" id="itemadd" placeholder="Enter barcode of item">
      <button class="btn btn-primary align-self-center" type="submit">Add</button>
    </div>
    <div class="d-flex flex-column align-items-center">
      <label for="itemmodify">Modify:</label>
      <input type="text" name="itemmodify" id="itemmodify" placeholder="Enter barcode of item">
      <button class="btn btn-primary align-self-center" type="submit">Modify</button>
    </div>
    <div class="d-flex flex-column align-items-center">
      <label for="itemdelete">Delete:</label>
      <input type="text" name="itemdelete" id="itemdelete" placeholder="Enter barcode of item">
      <button class="btn btn-primary align-self-center" type="submit">Delete</button>
    </div>
  </div>
  <div class="managerlist">
    <h3 class="managerTitle">All Purchases:</h3>
    <table border="1">
      <thead>
        <td>Item Name:</td>
        <td>Stock:</td>
        <td>Barcode:</td>
        <td>Price:</td>
      </thead>
      <!-- For loop logic of jinja template -->
      {% for row in rows %}
      <tr>
          <td>{{row["M_name"]}}</td>
          <td>{{row["M_stock"]}}</td>
          <td>{{row["M_barcode"]}}</td>
          <td>{{row["M_price"]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</form>
<div class="anchor">
  <center><a href="{{url_for('home')}}">Go Back</a></center>
</div>
<style type="text/css">
  .flashmsg{
      margin-top: 60px;
  }
  .managerTitle h2{
    border-style: none;
  
  }
  .managerTitle p{
    color: #555;
  }
  .actionmsg{
    font-size: 14px;
    color: #555;
  }
  .iteminfo{
      margin: auto;
      width: 50%;
      width: 200px;
  }
  .changeitem{
      margin: auto;
      width: 50%;
      width: 200px;
  }
  .btn{
      margin: auto;
      width: 50%;
      margin-left: 50px;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .anchor{
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .managerlist h3{
    margin-top: 5%;
    margin-left: 5%;
    color: #555;
  }
  .managerlist table{
    margin-left: 5%;
    color: #555;
    width: 25%;
  }
  .managerlist thead{
    text-align: center;
  }
  .managerlist td{
    padding: 5px;
  }
  </style>

{% endblock %}